USE [App2025]
GO
/****** Object:  Table [dbo].[Add_Doctor]    Script Date: 18-12-2025 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Doctor](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[dname] [varchar](50) NULL,
	[dqualification] [varchar](50) NULL,
	[dmobile] [bigint] NULL,
	[dspecilist] [varchar](50) NULL,
	[damount] [bigint] NULL,
	[dtime] [varchar](50) NULL,
	[dpass] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Add_Doctors]    Script Date: 18-12-2025 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Doctors](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[dname] [varchar](50) NULL,
	[dqualification] [varchar](50) NULL,
	[dmobile] [bigint] NULL,
	[dspecilist] [varchar](50) NULL,
	[damount] [bigint] NULL,
	[dtime] [varchar](50) NULL,
	[dpass] [bigint] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Add_Patient]    Script Date: 18-12-2025 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Add_Patient](
	[Pid] [int] IDENTITY(1,1) NOT NULL,
	[Pname] [varchar](50) NULL,
	[Pdob] [varchar](50) NULL,
	[Pdisease] [varchar](70) NULL,
	[Pgender] [varchar](30) NULL,
	[Paddress] [varchar](70) NULL,
	[Pmobile] [bigint] NULL,
	[Ppass] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointment]    Script Date: 18-12-2025 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointment](
	[name] [varchar](50) NULL,
	[mobile] [varchar](50) NOT NULL,
	[doctor] [varchar](50) NULL,
	[disease] [varchar](50) NULL,
	[age] [int] NULL,
	[Adate] [varchar](100) NULL,
	[Address] [varchar](max) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ccontact]    Script Date: 18-12-2025 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ccontact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[mobile] [bigint] NULL,
	[msg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangePassword]    Script Date: 18-12-2025 10:48:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangePassword](
	[userid] [varchar](50) NULL,
	[oldpass] [varchar](50) NULL,
	[newpass] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChangePasswords]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChangePasswords](
	[userid] [varchar](50) NULL,
	[oldpass] [varchar](50) NULL,
	[newpass] [varchar](50) NULL,
	[changedOn] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complain]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complain](
	[name] [varchar](50) NULL,
	[msg] [varchar](max) NULL,
	[status] [varchar](50) NULL,
	[cdate] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[email] [varchar](50) NULL,
	[mobile] [bigint] NULL,
	[msg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact1](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](50) NULL,
	[cemail] [varchar](50) NULL,
	[cmobile] [bigint] NULL,
	[msg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[cname] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Destination]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destination](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[dname] [varchar](50) NULL,
	[dpic] [varchar](100) NULL,
	[dprice] [int] NULL,
	[dduration] [varchar](50) NULL,
	[ddate] [varchar](50) NULL,
	[About] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dipartment]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dipartment](
	[dp_id] [int] IDENTITY(1,1) NOT NULL,
	[dpt] [varchar](30) NULL,
	[emp] [int] NULL,
	[salary] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dipartment1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dipartment1](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[dname] [varchar](50) NULL,
	[salary] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[district]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[district](
	[did] [int] IDENTITY(1,1) NOT NULL,
	[dname] [varchar](50) NULL,
	[sid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[did] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctors_Picture]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors_Picture](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [varchar](max) NULL,
	[dmobile] [bigint] NULL,
	[pdate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee1](
	[emp_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[mobile] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[fid] [int] IDENTITY(1,1) NOT NULL,
	[userid] [varchar](50) NULL,
	[rate] [int] NULL,
	[message] [varchar](max) NULL,
	[fdate] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File_Upload]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File_Upload](
	[fid] [int] IDENTITY(1,1) NOT NULL,
	[File_Name] [varchar](50) NULL,
	[picture] [varchar](100) NULL,
	[fdate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[fid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[hid] [int] IDENTITY(1,1) NOT NULL,
	[hname] [varchar](50) NULL,
	[hprice] [int] NULL,
	[hlocation] [varchar](50) NULL,
	[haddress] [varchar](50) NULL,
	[hdate] [varchar](50) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel_pic]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel_pic](
	[hpid] [int] IDENTITY(1,1) NOT NULL,
	[picture] [varchar](100) NULL,
	[hid] [int] NULL,
	[hname] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[hpid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IAddDoctor]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IAddDoctor](
	[dname] [varchar](50) NULL,
	[dqualification] [varchar](50) NULL,
	[dmobile] [bigint] NOT NULL,
	[dspecilist] [varchar](50) NULL,
	[damount] [bigint] NULL,
	[dtime] [varchar](50) NULL,
	[dpass] [bigint] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[dmobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IAddDoctors]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IAddDoctors](
	[dname] [varchar](50) NULL,
	[dqualification] [varchar](50) NULL,
	[dmobile] [bigint] NOT NULL,
	[dspecilist] [varchar](50) NULL,
	[damount] [bigint] NULL,
	[dtime] [varchar](50) NULL,
	[dpass] [bigint] NULL,
	[type] [varchar](50) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[dmobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[userid] [varchar](50) NULL,
	[passwd] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[login1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login1](
	[userid] [varchar](50) NULL,
	[passwd] [varchar](50) NULL,
	[type] [varchar](50) NULL,
	[status] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[nid] [int] IDENTITY(1,1) NOT NULL,
	[nname] [varchar](100) NULL,
	[nmsg] [varchar](max) NULL,
	[ndate] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[nid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Appointment]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Appointment](
	[name] [varchar](50) NULL,
	[mobile] [varchar](50) NOT NULL,
	[doctor] [varchar](50) NULL,
	[disease] [varchar](50) NULL,
	[age] [int] NULL,
	[Adate] [varchar](100) NULL,
	[Address] [varchar](max) NULL,
	[status] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient_Complain]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient_Complain](
	[ComplainID] [int] IDENTITY(1,1) NOT NULL,
	[PatientName] [varchar](50) NOT NULL,
	[Mobile] [varchar](50) NOT NULL,
	[ComplainText] [varchar](200) NOT NULL,
	[Date] [datetime] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ComplainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[register]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register](
	[id] [int] NULL,
	[name] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[dob] [date] NULL,
	[mobile_no] [bigint] NULL,
	[adhar_no] [bigint] NULL,
	[address] [varchar](70) NULL,
	[company_name] [varchar](60) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register1](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[rfname] [varchar](50) NULL,
	[rlname] [varchar](50) NULL,
	[remail] [varchar](50) NULL,
	[rmobile] [bigint] NULL,
	[radhar] [bigint] NULL,
	[raddress] [varchar](70) NULL,
	[rcountry] [varchar](50) NULL,
	[rstate] [varchar](50) NULL,
	[msg] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Register2]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Register2](
	[rid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[rid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registration]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registration](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[dob] [date] NULL,
	[mobile_no] [bigint] NULL,
	[adhar_no] [bigint] NULL,
	[address] [varchar](70) NULL,
	[company_name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[registration1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[registration1](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[dob] [date] NULL,
	[mobile_no] [bigint] NULL,
	[adhar_no] [bigint] NULL,
	[address] [varchar](70) NULL,
	[company_name] [varchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[scholarship]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[scholarship](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NULL,
	[father_name] [varchar](30) NULL,
	[mother_name] [varchar](30) NULL,
	[email] [varchar](50) NULL,
	[dob] [date] NULL,
	[mobile_no] [varchar](50) NULL,
	[adhar_no] [varchar](70) NULL,
	[enroll_no] [varchar](70) NULL,
	[address] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shoes]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shoes](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shoes_model]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shoes_model](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[ctype] [varchar](50) NULL,
	[ccolor] [varchar](30) NULL,
	[csize] [int] NULL,
	[sid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shoes_price]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shoes_price](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pprice] [int] NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[state]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[state](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [varchar](50) NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[std]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[std](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](30) NULL,
	[last_name] [varchar](30) NULL,
	[father_name] [varchar](50) NULL,
	[email] [varchar](70) NULL,
	[roll_no] [int] NULL,
	[college] [varchar](70) NULL,
	[mobile] [bigint] NULL,
	[dob] [date] NULL,
	[adhar] [bigint] NULL,
	[pan] [varchar](70) NULL,
	[address] [varchar](70) NULL,
	[country] [varchar](70) NULL,
	[district] [varchar](70) NULL,
	[pin_code] [int] NULL,
	[state] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[roll_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[adhar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[pan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[sname] [varchar](50) NULL,
	[hindi] [int] NULL,
	[eng] [int] NULL,
	[math] [int] NULL,
	[phy] [int] NULL,
	[che] [int] NULL,
	[percentage] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[cid] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[mobile] [bigint] NULL,
	[picture] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_cse]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_cse](
	[sid] [int] IDENTITY(1,1) NOT NULL,
	[roll] [int] NOT NULL,
	[name] [varchar](40) NULL,
	[email] [varchar](40) NULL,
	[pin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_emp]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_emp](
	[emp_id] [int] IDENTITY(1,1) NOT NULL,
	[emp_name] [varchar](50) NULL,
	[emp_email] [varchar](50) NULL,
	[emp_mobile] [bigint] NULL,
	[emp_adhar] [bigint] NULL,
	[emp_address] [varchar](70) NULL,
PRIMARY KEY CLUSTERED 
(
	[emp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[emp_mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[emp_adhar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_employee]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_employee](
	[id] [int] NULL,
	[name] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[dob] [date] NULL,
	[join_date] [date] NULL,
	[mobile_no] [bigint] NULL,
	[adhar_no] [bigint] NULL,
	[address] [varchar](70) NULL,
	[salary] [int] NULL,
	[position] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_student](
	[id] [int] NULL,
	[name] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[college_name] [varchar](70) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_student1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_student1](
	[id] [int] NULL,
	[name] [varchar](30) NULL,
	[father_name] [varchar](30) NULL,
	[mother_name] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[college_name] [varchar](70) NULL,
	[mobile_number] [bigint] NULL,
	[roll_number] [int] NULL,
	[dob] [int] NULL,
	[address] [varchar](70) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uregistration]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uregistration](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[uname] [varchar](50) NULL,
	[uemail] [varchar](50) NULL,
	[umobile] [bigint] NULL,
	[uadhar] [bigint] NULL,
	[uaddress] [varchar](70) NULL,
	[country] [varchar](50) NULL,
	[state] [varchar](50) NULL,
	[district] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[vid] [int] IDENTITY(1,1) NOT NULL,
	[Vname] [varchar](50) NULL,
	[Vemail] [varchar](50) NULL,
	[Vmobile] [bigint] NULL,
	[Vlocation] [varchar](50) NOT NULL,
	[Vadhar] [bigint] NULL,
	[Vdate] [varchar](50) NULL,
	[passwd] [varchar](50) NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Vlocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChangePasswords] ADD  DEFAULT (getdate()) FOR [changedOn]
GO
ALTER TABLE [dbo].[Patient_Complain] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[Patient_Complain] ADD  DEFAULT ('Pending') FOR [Status]
GO
/****** Object:  StoredProcedure [dbo].[Count_with_procedure]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Count_with_procedure]
as
begin
select * from ccontact
end
GO
/****** Object:  StoredProcedure [dbo].[S_Add_Doctor]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Add_Doctor]
(
@dname varchar(50),
@dqualification varchar(50),
@dmobile varchar(50),
@dspecilist varchar(50),
@damount varchar(50),
@dtime varchar(50),
@dpass varchar(50)
)
as
begin
insert into Add_Doctor(dname,dqualification,dmobile,dspecilist,damount,dtime,dpass) values(@dname,@dqualification,@dmobile,@dspecilist,@damount,@dtime,@dpass);
end
GO
/****** Object:  StoredProcedure [dbo].[S_Add_Doctors]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Add_Doctors]
(
@dname varchar(50),
@dqualification varchar(50),
@dmobile varchar(50),
@dspecilist varchar(50),
@damount varchar(50),
@dtime varchar(50),
@dpass varchar(50),
@status varchar(50)
)
as
begin
insert into Add_Doctors(dname,dqualification,dmobile,dspecilist,damount,dtime,dpass,status) values(@dname,@dqualification,@dmobile,@dspecilist,@damount,@dtime,@dpass,'yes');
end
GO
/****** Object:  StoredProcedure [dbo].[S_Add_Patient]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Add_Patient]
(
@Pname varchar(50),
@Pdob varchar(50),
@Pdisease varchar(70),
@Pgender varchar(30),
@Paddress varchar(70),
@Pmobile varchar(50),
@Ppass varchar(50)
)
as
begin
insert into Add_Patient(Pname,Pdob,Pdisease,Pgender,Paddress,Pmobile,Ppass) values(@Pname,@Pdob,@Pdisease,@Pgender,@Paddress,@Pmobile,@Ppass);
end
GO
/****** Object:  StoredProcedure [dbo].[S_All_Add_Doctors]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_All_Add_Doctors]
(
@dname varchar(50),
@dqualification varchar(50),
@dmobile varchar(50),
@dspecilist varchar(50),
@damount varchar(50),
@dtime varchar(50),
@dpass varchar(50),
@status varchar(50)
)
as
begin
insert into Add_Doctors(dname,dqualification,dmobile,dspecilist,damount,dtime,dpass,status) values(@dname,@dqualification,@dmobile,@dspecilist,@damount,@dtime,@dpass,@status);
end
GO
/****** Object:  StoredProcedure [dbo].[S_Check_login1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[S_Check_login1]
(
    @userid VARCHAR(50),
    @passwd VARCHAR(50)
)
AS
BEGIN
    SELECT userid, passwd, type, status
    FROM login1
    WHERE userid = @userid
      AND passwd = @passwd;
END
GO
/****** Object:  StoredProcedure [dbo].[s_contact_insert]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[s_contact_insert]
(
@name varchar(50),
@email varchar(50),
@mobile bigint,
@msg varchar(max)
)
as
begin
insert into contact(name,email,mobile,msg) values(@name,@email,@mobile,@msg)
end
GO
/****** Object:  StoredProcedure [dbo].[s_contact_select]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[s_contact_select]
as
begin
select * from contact
end
GO
/****** Object:  StoredProcedure [dbo].[s_contact_update]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[s_contact_update]
(
@name varchar(50),
@email varchar(50),
@mobile varchar(50),
@msg varchar(max)
)
as
begin
update contact set name=@name,mobile=@mobile,msg=@msg where email=@email
end
GO
/****** Object:  StoredProcedure [dbo].[S_Count_ccontact_data]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Count_ccontact_data]
as
begin
select * from ccontact
end
GO
/****** Object:  StoredProcedure [dbo].[S_Count_IAddDoctor_data]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Count_IAddDoctor_data]
as
begin
select * from IAddDoctor
end
GO
/****** Object:  StoredProcedure [dbo].[S_Display_Add_Patient]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Display_Add_Patient]
as
begin
select * from Add_Patient
end
GO
/****** Object:  StoredProcedure [dbo].[S_Display_ccontact]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Display_ccontact]
as
begin
select * from ccontact
end
GO
/****** Object:  StoredProcedure [dbo].[S_Display_Doctor]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Display_Doctor]
as
begin
select * from Add_Doctor
end
GO
/****** Object:  StoredProcedure [dbo].[S_Display_Doctors]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Display_Doctors]
as
begin
select * from Add_Doctors
end
GO
/****** Object:  StoredProcedure [dbo].[S_Display_Picture]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Display_Picture]
(
@dmobile bigint
)
as
begin
select * from Add_Doctor ad inner join Doctors_Picture dp on ad.dmobile=dp.dmobile where ad.dmobile=@dmobile
end
GO
/****** Object:  StoredProcedure [dbo].[S_Doctors_Picture]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Doctors_Picture]
(
@dmobile bigint
)
as
begin
select * from Add_Doctor ad inner join Doctors_Picture dp on ad.dmobile=dp.dmobile 
end
GO
/****** Object:  StoredProcedure [dbo].[S_Doctors_Pictures]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Doctors_Pictures]
(
@dmobile bigint
)
as
begin
select * from IAddDoctors ad inner join Doctors_Picture dp on ad.dmobile=dp.dmobile where ad.dmobile=@dmobile 
end
GO
/****** Object:  StoredProcedure [dbo].[S_Feedback_insert]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Feedback_insert]
(
    @userid varchar(50) = NULL,
    @rate int = NULL,
    @message varchar(max) = NULL,
    @fdate varchar(50) = NULL,
    @action varchar(40)
)
as
begin
    if (@action = 'insert')
    begin
        insert into feedback(userid, rate, message, fdate) values(@userid, @rate, @message, @fdate);
    end

    else if (@action = 'select')
    begin
        select * from feedback;
    end

    else if (@action = 'update')
    begin
        update feedback set  rate = @rate, message = @message where userid = @userid;
    end

    else if (@action = 'delete')
    begin
        delete from feedback where userid = @userid;
    end

    else
    begin
        print('This is Invalid action');
    end
end
GO
/****** Object:  StoredProcedure [dbo].[S_Insert_ccontact]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Insert_ccontact]
(
@name varchar(50),
@email varchar(50),
@mobile varchar(50),
@msg varchar(max)
)

as
begin
insert into ccontact(name,email,mobile,msg) values(@name,@email,@mobile,@msg);
end
GO
/****** Object:  StoredProcedure [dbo].[S_Insert_Doctor_Picture]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Insert_Doctor_Picture]
(
@pname varchar(max)=null,
@dmobile bigint=null,
@pdate varchar(50)=null
)
as
begin
insert into Doctors_Picture values(@pname,@dmobile,@pdate)
end
GO
/****** Object:  StoredProcedure [dbo].[S_Insert_login1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Insert_login1]
(
@userid varchar(50)=null,
@passwd varchar(50)=null,
@type varchar(50)=null,
@status varchar(50)=null
)
as
begin
insert into login1(userid,passwd,type,status) values(@userid,@passwd,@type,@status);
end
GO
/****** Object:  StoredProcedure [dbo].[S_Insert_Register1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[S_Insert_Register1]
(
@rfname varchar(50),
@rlname varchar(50),
@remail varchar(50),
@rmobile varchar(50),
@radhar varchar(70),
@raddress varchar(70),
@rcountry varchar(50),
@rstate varchar(50),
@msg varchar(max)
)
as
begin
insert into Register1(rfname,rlname,remail,rmobile,radhar,raddress,rcountry,rstate,msg) values(@rfname,@rlname,@remail,@rmobile,@radhar,@raddress,@rcountry,@rstate,@msg);
end
GO
/****** Object:  StoredProcedure [dbo].[Sa_All_Appointment]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sa_All_Appointment]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Appointment values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address);
end
if(@action='select')
begin
select * from Appointment;
end
if(@action='getByMobile')
begin
    select * from Appointment where mobile=@mobile;
end
if(@action='update')
begin
update Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Sa_All_Appointments]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sa_All_Appointments]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@status varchar(50),
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Appointment values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address,@status);
end
if(@action='select')
begin
select * from Appointment;
end
if(@action='getByMobile')
begin
    select * from Appointment where mobile=@mobile;
end
if(@action='update')
begin
update Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Sa_Appointment]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sa_Appointment]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Appointment values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address);
end
if(@action='select')
begin
select * from Appointment;
end
if(@action='update')
begin
update Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Sa_Check_login1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sa_Check_login1]
(
@userid varchar(50)=null,
@passwd varchar(50)=null,
@type varchar(50)=null,
@status varchar(50)=null
)
as
begin
insert into login1(userid,passwd,type,status) values(@userid,@passwd,@type,@status);
end
GO
/****** Object:  StoredProcedure [dbo].[Sa_IAddDoctor]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sa_IAddDoctor]
(
@dname varchar(50),
@dqualification varchar(50),
@dmobile varchar(50),
@dspecilist varchar(50),
@damount varchar(50),
@dtime varchar(50),
@dpass varchar(50),
@status varchar(50),
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into IAddDoctor(dname,dqualification,dmobile,dspecilist,damount,dtime,dpass,status) values(@dname,@dqualification,@dmobile,@dspecilist,@damount,@dtime,@dpass,@status);
end
if(@action='select')
begin
select * from IAddDoctor;
end
if(@action='getByMobile')
begin
    select * from IAddDoctor where dmobile=@dmobile;
end
if(@action='update')
begin
update IAddDoctor set dname=@dname,damount=@damount,dqualification=@dqualification where dmobile=@dmobile;
end
if(@action='delete')
begin
delete from IAddDoctor where dmobile=@dmobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Sa_IAddDoctors]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sa_IAddDoctors]
(
@dname varchar(50)=null,
@dqualification varchar(50)=null,
@dmobile varchar(50)=null,
@dspecilist varchar(50)=null,
@damount varchar(50)=null,
@dtime varchar(50)=null,
@dpass varchar(50)=null,
@status varchar(50)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into IAddDoctor(dname,dqualification,dmobile,dspecilist,damount,dtime,dpass,status) values(@dname,@dqualification,@dmobile,@dspecilist,@damount,@dtime,@dpass,@status);
end
if(@action='select')
begin
select * from IAddDoctor;
end
if(@action='getByMobile')
begin
    select * from IAddDoctor where dmobile=@dmobile;
end
if(@action='update')
begin
update IAddDoctor set dname=@dname,damount=@damount,dqualification=@dqualification where dmobile=@dmobile;
end
if(@action='delete')
begin
delete from IAddDoctor where dmobile=@dmobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Sa_Patient_Appointment]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sa_Patient_Appointment]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@status varchar(50)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Patient_Appointment(name,mobile,doctor,disease,age,Adate,Address,status) values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address,@status);
end
if(@action='select')
begin
select * from Patient_Appointment;
end
if(@action='update')
begin
update Patient_Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Patient_Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Saa_All_Appointment]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Saa_All_Appointment]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@status varchar(50),
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Appointment(name,mobile,doctor,disease,age,Adate,Address,status) values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address,@status);
end
if(@action='select')
begin
select * from Appointment;
end
if(@action='getByMobile')
begin
    select * from Appointment where mobile=@mobile;
end
if(@action='update')
begin
update Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Saa_Check_login1]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Saa_Check_login1]
(
@userid varchar(50)=null,
@passwd varchar(50)=null,
@type varchar(50)=null,
@status varchar(50)=null
)
as
begin
insert into login1(userid,passwd,type,status) values(@userid,@passwd,@type,@status);
end
GO
/****** Object:  StoredProcedure [dbo].[Saa_Doctors_Pictures]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Saa_Doctors_Pictures]
(
@dmobile bigint=null
)
as
begin
select * from IAddDoctors ad inner join Doctors_Picture dp on ad.dmobile=dp.dmobile where ad.dmobile=@dmobile 
end
GO
/****** Object:  StoredProcedure [dbo].[Saa_IAddDoctors]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Saa_IAddDoctors]
(
@dname varchar(50)=null,
@dqualification varchar(50)=null,
@dmobile varchar(50)=null,
@dspecilist varchar(50)=null,
@damount varchar(50)=null,
@dtime varchar(50)=null,
@dpass varchar(50)=null,
@type varchar(50)=null,
@status varchar(50)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into IAddDoctors(dname,dqualification,dmobile,dspecilist,damount,dtime,dpass,type,status) values(@dname,@dqualification,@dmobile,@dspecilist,@damount,@dtime,@dpass,@type,@status);
end
if(@action='select')
begin
select * from IAddDoctors;
end
if(@action='getByMobile')
begin
    select * from IAddDoctors where dmobile=@dmobile;
end
if(@action='update')
begin
update IAddDoctors set dname=@dname,damount=@damount,dqualification=@dqualification where dmobile=@dmobile;
end
if(@action='delete')
begin
delete from IAddDoctors where dmobile=@dmobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Saa_Patient_Appointment]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Saa_Patient_Appointment]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@status varchar(50)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Patient_Appointment(name,mobile,doctor,disease,age,Adate,Address,status) values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address,@status);
end
if(@action='select')
begin
select * from Patient_Appointment;
end
if(@action='getByMobile')
begin
    select * from Patient_Appointment where mobile=@mobile;
end
if(@action='update')
begin
update Patient_Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Patient_Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Saa_Patient_Appointments]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Saa_Patient_Appointments]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@status varchar(50)=null,
@Password varchar(50)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Patient_Appointment(name,mobile,doctor,disease,age,Adate,Address,status, Password ) values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address,@status,@Password);
end
if(@action='select')
begin
select * from Patient_Appointment;
end
if(@action='getByMobile')
begin
    select * from Patient_Appointment where mobile=@mobile;
end
if(@action='update')
begin
update Patient_Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Patient_Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Saa_Patients_Appointments]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Saa_Patients_Appointments]
(
@name varchar(50) =null,
@mobile varchar(50)=null,
@doctor varchar(50)=null,
@disease varchar(50)=null,
@age int=null,
@Adate varchar(100)=null,
@Address varchar(max)=null,
@status varchar(50)=null,
@Password varchar(50)=null,
@type varchar(50)=null,
@action varchar(50)
)
as
begin
if(@action='insert')
begin
insert into Patient_Appointment(name,mobile,doctor,disease,age,Adate,Address,status,Password,type ) values(@name, @mobile, @doctor,@disease,@age,@Adate,@Address,@status,@Password,@type);
end
if(@action='select')
begin
select * from Patient_Appointment;
end
if(@action='getByMobile')
begin
    select * from Patient_Appointment where mobile=@mobile;
end
if(@action='update')
begin
update Patient_Appointment set name=@name,Address=@Address,age=@age where mobile=@mobile;
end
if(@action='delete')
begin
delete from Patient_Appointment where mobile=@mobile
end
end
GO
/****** Object:  StoredProcedure [dbo].[Sd_PatientDashboard]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sd_PatientDashboard]
    @Mobile VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    -- Summary
    SELECT
        COUNT(*) AS TotalAppointments,
        ISNULL(SUM(
            CASE WHEN TRY_CONVERT(DATE, Adate, 103) >= CAST(GETDATE() AS DATE) THEN 1 ELSE 0 END
        ),0) AS UpcomingAppointments
    FROM Patient_Appointment
    WHERE Mobile = @Mobile;

    -- Appointments list
    SELECT
        Adate,
        Doctor,
        Disease,
        Status
    FROM Patient_Appointment
    WHERE Mobile = @Mobile
    ORDER BY TRY_CONVERT(DATE, Adate, 103) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePassword]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ChangePassword]
(
    @userid varchar(50),
    @oldpass varchar(50),
    @newpass varchar(50),
    @result INT OUTPUT
)
as
begin
   set nocount on;

    if EXISTS (
        select 1 FROM login1 where userid = @userid AND passwd = @oldpass
    )
    begin
        update login set passwd = @newpass where userid = @userid;

        set @result = 1; -- success
    end
    else
    begin
        set @result = 0; -- old password wrong
   end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePasswords]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ChangePasswords]
(
    @userid varchar(50),
    @oldpass varchar(50),
    @newpass varchar(50),
    @result INT OUTPUT
)
as
begin
   set nocount on;

    if EXISTS (
        select 1 FROM login1 where userid = @userid AND passwd = @oldpass
    )
    begin
        update login1 set passwd = @newpass where userid = @userid;

        set @result = 1; -- success
    end
    else
    begin
        set @result = 0; -- old password wrong
   end
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_Doctors_Pictures]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_Doctors_Pictures]
(
@dmobile bigint
)
as
begin
select * from IAddDoctors ad inner join Doctors_Picture dp on ad.dmobile=dp.dmobile where ad.dmobile=@dmobile 
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GetDashboardCounts]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Sp_GetDashboardCounts]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM Doctor_Table) AS TotalDoctors,
        (SELECT COUNT(*) FROM Patient_Table) AS TotalPatients,
        (SELECT COUNT(*) FROM Appointment_Table WHERE CAST(AppointmentDate AS DATE)=CAST(GETDATE() AS DATE)) AS TodayAppointments,
        (SELECT COUNT(*) FROM Beds_Table WHERE Status='Available') AS AvailableBeds
END
GO
/****** Object:  StoredProcedure [dbo].[sp_login]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_login]
(
@userid varchar(50),
@passwd varchar(50)
)
as
begin
select * from login1 where userid=@userid and passwd=@passwd;
end
GO
/****** Object:  StoredProcedure [dbo].[SP_PatientComplain]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_PatientComplain]
(
    @ComplainID INT = NULL,
    @PatientName VARCHAR(50) = NULL,
    @Mobile VARCHAR(50) = NULL,
    @ComplainText VARCHAR(200) = NULL,
    @Date DATETIME = NULL,
    @Status VARCHAR(50) = NULL,
    @Action VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    IF @Action = 'insert'
    BEGIN
        INSERT INTO Patient_Complain(PatientName, Mobile, ComplainText, Date, Status)
        VALUES(@PatientName, @Mobile, @ComplainText, ISNULL(@Date, GETDATE()), ISNULL(@Status, 'Pending'));
    END
    ELSE IF @Action = 'select'
    BEGIN
        SELECT * FROM Patient_Complain ORDER BY Date DESC;
    END
    ELSE IF @Action = 'getByID'
    BEGIN
        SELECT * FROM Patient_Complain WHERE ComplainID = @ComplainID;
    END
    ELSE IF @Action = 'update'
    BEGIN
        UPDATE Patient_Complain
        SET PatientName = @PatientName,
            Mobile = @Mobile,
            ComplainText = @ComplainText,
            Status = @Status
        WHERE ComplainID = @ComplainID;
    END
    ELSE IF @Action = 'delete'
    BEGIN
        DELETE FROM Patient_Complain WHERE ComplainID = @ComplainID;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[Sp_PatientDashboard]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_PatientDashboard]
    @Mobile VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*) AS TotalAppointments,
        ISNULL(
            SUM(
                CASE 
                    WHEN TRY_CONVERT(DATE, Adate, 103) >= CAST(GETDATE() AS DATE)
                    THEN 1 ELSE 0 
                END
            ), 0
        ) AS UpcomingAppointments
    FROM Patient_Appointment
    WHERE mobile = @Mobile;

    SELECT
        Adate,
        doctor,
        disease,
        status
    FROM Patient_Appointment
    WHERE mobile = @Mobile
    ORDER BY TRY_CONVERT(DATE, Adate, 103) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[Spa_Doctors_Pictures]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Spa_Doctors_Pictures]
(
    @dmobile bigint = null
)
as
begin
    if(@dmobile is null)
    begin
        -- All doctors picture list
        select * from IAddDoctors ad 
        inner join Doctors_Picture dp 
        on ad.dmobile = dp.dmobile
    end
    else
    begin
        -- Specific doctor picture
        select * from IAddDoctors ad 
        inner join Doctors_Picture dp 
        on ad.dmobile = dp.dmobile
        where ad.dmobile = @dmobile
    end
end
GO
/****** Object:  StoredProcedure [dbo].[Spa_GetDashboardCounts]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Spa_GetDashboardCounts]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM IAddDoctor) AS TotalDoctors,
        (SELECT COUNT(*) FROM Patient_Appointment) AS TotalPatients,
        (SELECT COUNT(*) FROM Appointment_Table WHERE CAST(AppointmentDate AS DATE)=CAST(GETDATE() AS DATE)) AS TodayAppointments
END
GO
/****** Object:  StoredProcedure [dbo].[spa_login]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[spa_login]
(
@userid varchar(50),
@passwd varchar(50)
)
as
begin
select userid, passwd, type from login1 where userid=@userid and passwd=@passwd;
end
GO
/****** Object:  StoredProcedure [dbo].[Spa_PatientDashboard]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[Spa_PatientDashboard]
    @Mobile VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        COUNT(*) AS TotalAppointments,
        ISNULL(
            SUM(
                CASE 
                    WHEN TRY_CONVERT(DATE, Adate, 103) >= CAST(GETDATE() AS DATE)
                    THEN 1 ELSE 0 
                END
            ), 0
        ) AS UpcomingAppointments
    FROM Patient_Appointment
    WHERE mobile = @mobile;

    SELECT
        Adate,
        doctor,
        disease,
        status
    FROM Patient_Appointment
    WHERE mobile = @mobile
    ORDER BY TRY_CONVERT(DATE, Adate, 103) DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[Ss_GetDashboardCounts]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[Ss_GetDashboardCounts]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM IAddDoctors) AS TotalDoctors,

        (SELECT COUNT(*) FROM Patient_Appointment) AS TotalPatients,

        (SELECT COUNT(*)
         FROM Patient_Appointment
         WHERE TRY_CONVERT(date, Adate, 103) = CAST(GETDATE() AS date)
        ) AS TodayAppointments
END
GO
/****** Object:  StoredProcedure [dbo].[Ssa_GetDashboardCounts]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[Ssa_GetDashboardCounts]
AS
BEGIN
    SELECT 
        (SELECT COUNT(*) FROM IAddDoctors) AS TotalDoctors,

        (SELECT COUNT(*) FROM Patient_Appointment) AS TotalPatients,
		(SELECT COUNT(*) FROM Patient_Appointment) AS TodayAppointments,
        (SELECT COUNT(*)
         FROM Patient_Appointment
         WHERE TRY_CONVERT(date, Adate, 103) = CAST(GETDATE() AS date)
        ) AS TodayAppointments
END
GO
/****** Object:  StoredProcedure [dbo].[Ssa_GetPatientMonthly]    Script Date: 18-12-2025 10:48:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ssa_GetPatientMonthly]
AS
BEGIN
    SELECT 
        DATENAME(MONTH, Adate) AS MonthName,
        COUNT(*) AS TotalPatients
    FROM Patient_Appointment
    GROUP BY DATENAME(MONTH, Adate), MONTH(Adate)
    ORDER BY MONTH(Adate)
END
GO
